.hero-section{
  background-image: url('../img/post-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 5rem;
}
.foto-naomi{
  border-radius: 60%;
  width: 80%
}
