header{
  color: #ffffff;
  text-align: center;
}
body{
  font-family: 'Roboto', sans-serif;
}
.cuerpo{
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
}
.texto{
  margin:2rem;
}
